# Definitely don't want private key checked in:
/machines/scarif/home/jeroen/.ssh/id_rsa
# This should be managed in *some* way
# but it's probably best to not make it public as-is.
# Maybe put it in datumoj? Or encrypt+sign it? And/or hash hosts?
/machines/scarif/home/jeroen/.ssh/known_hosts

/serviloj/state.nixops
/results
