[Desktop Entry]
Name=Istrolid
Comment=Play this game on Steam
Exec=steam steam://rungameid/449140
Icon=steam
Terminal=false
Type=Application
Categories=Game;
